[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/Vulkan-Hpp"]
	path = lib/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
